
/* css */

.top-nav{
    background-color: #FAF9F6;
    width: 100%;
    height: 50px;
    position: fixed;
    color: white;
    display: flex;
    justify-content: end;
    
}

.top-nav a{
    color: white;
}

.top-nav a:active{
    background-color: aliceblue;
}

.empty-space{
    height: 50px;
    width: 100%;
}



